[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "nmixgof"]
	path = nmixgof
	url = https://github.com/jknape/nmixgof
[submodule "poptrend"]
	path = poptrend
	url = https://github.com/jknape/poptrend
